/* ---------->>> RESET / GLOBAL <<<-----------*/

body, h1, h2, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
  }
  
  body{
    font-family: 'Montserrat', Helvetica,  sans-serif;
    color: #000000;
  }
  
  ul{
    list-style: none;
    padding: 0;
  }
  
  li, a{
    text-decoration: none;
  }
  
  /* ---------->>> MENU <<<-----------*/
  
  #menu-bg{
    display: flex;
    width: 100%;
    height: 20vw;
    background-image: url(../img/aviaophp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .menu-sobreposicao{
    top: 0;
    width: 100%;
    height: 20vw;
    position: absolute; 
    background: rgba(0,0,0,.30);
    z-index: 0;   
  }
  
  .menu{
    display: flex;
    margin-top: 21%;
    width: 100%;
    height: 50px;
    font-size: .95em;
  }
  
  .menu ul{
    list-style: none;
    margin: 0 auto;
    background-image: linear-gradient(-50deg, #0100EC, #3bc4fc);
  }
  
  .menu ul li{
    width: 160px;
    float: left;
  }
  
  .menu a {
    padding: 16px;
    display: block;
    text-align: center;
    color: #FFF;
  }
  
  .menu ul ul{
    position: absolute;
    visibility: hidden; 
  }
  
  .menu ul li:hover ul{
    visibility: visible;
  }
  
  .menu a:hover{    
    font-weight: 600;
  }
  
  .menu ul ul li{
    float: none;
    background: rgba(252, 82, 82, 0.4);
  }
  
  .logo-container{
    display: flex;
    width: 100%;
    height: 20vw;
    justify-content: space-evenly;
    margin-top: -20vw; 
    align-items: flex-end;
  }
  
  .logo-crud{
    font-family: 'Euphoria Script', cursive;
    font-size: 4.5em;
    margin-left: 33%;
    margin-top: -68px;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 1;
  }
  
  /* ---------->>> FORMULÁRIO <<<----------*/

  main{
    margin-top: 100px;
  }
  
  .agende-h1{
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 30px;
  }
  
  .formulario{
    display: flex;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    justify-content: space-around;
    background: #e9ecef;
    border-radius: 10px; 
  }
  
  form h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    padding: 15px 0 5px 0;
  }
  .area{
    font-family: 'Montserrat',sans-serif; 
    padding: 4px;
    width: 400px;
    border-radius: 8px;
    height: 18px;
  }
  
    
  
  
  .botao{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .botao a{
    margin: 0 auto;
    padding: 15px 30px ;
    text-align: center;    
    width: 100px;
    background-image: linear-gradient(-50deg, #0100EC, #FC5252);
    border-radius: 50px;
    color: white;
    position: absolute;
  }
  
  .botao a:hover{
    font-weight:bold;
    background-image: linear-gradient(-10deg, #0100EC, #FC5252);  
  }
  